<div>
    <br>
    <br>
    <h1>Welcome to YouTube!</h1>
    <br>
    <br>
    <input type="text" placeholder="Search videos..." [(ngModel)]="searchQuery" (keyup.enter)="searchVideos()">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>YouTube is the second-largest search engine in the world, with more than two billion active users and over 122 million visitors every day.</p>

    <p>But with 720,000 hours of video uploaded daily to YouTube, it's getting harder to cut through the noise. Without taking certain steps, 
        your video can easily end up at the bottom of the pile, failing to make an impact. Fortunately, there are simple steps you can take to get the right eyes on your content.</p>
        
    <p>We are going to get into the nitty gritty of building a successful YouTube video.</p>

</div>